.App{
    max-width: 800px;
    margin: 30px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
.container{
    background: linear-gradient(179.7deg, rgb(248, 126, 126) -0.5%, rgb(251, 206, 143) 35.3%, rgb(184, 252, 233) 67.2%, rgb(118, 162, 229) 92.3%);
    margin: 40px auto 76px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.06);
    border-radius: 20px;
    padding: 50px;
}
.App footer {
    border-top: 1px dotted rgb(169, 129, 187);
    padding: 30px 0 15px 0;
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0,0, 0.5);
}
.App a {
     color: #492a58;
}