.Weather header{
    border-bottom: 1px dotted rgb(169, 129, 187);
    padding: 15px 0 30px 0;
}
.Weather .form-search{
    background-color: #c3a5d1;
    border: none;
    border-radius: 6px;
    width:100%;
    font-size: 17px;
    padding: 15px 20px;
}
.Weather .form-button{
    background-color: #a981bb;
    padding: 15px 20px;
    border: none;
    margin-left: 5px;
    border-radius: 6px;
    font-size: 17px;
}
.WeatherInfo{
    margin-bottom: 50px;
    padding: 15px;
}
.WeatherInfo h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 30px;
}
.WeatherInfo h2{
    font-size: 24px;
    margin-bottom: 15px;
    
}
.WeatherInfo ul {
    margin: 0;
    padding: 0;
}
.info-weather-description{
    text-align: right;
}
.WeatherInfo li {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 19px;
    padding: 3px;
}
main {
   padding: 30px 0;
}
.WeatherInfo canvas {
    margin-right: 5px;
    height: 64px;
    width: 64px;
    float: left;

}
.WeatherInfo .temperature {
    font-weight: 500;
    font-size: 64px;
    color: rgb(33,33 ,33);
    line-height: 64px;  
}
.WeatherInfo .unit{
    color: rgb(33,33 ,33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -32px;
    margin-left: 5px;
}
.formatted-day strong{
    font-size: 24px;
}

