.WeatherForecast{
    text-align: center;
}
.WeatherForecast h2{
    font-size: 24px;
    margin: 20px;
    padding: 10px;
}
.forecast-day{
    margin-bottom: 20px;
    font-size: 18px;
}
.forecast-temp-min{
    color: rgb(202,15,15);
    opacity: 0.7;
    margin-left: 5px;
}
.forecast-temp-max{
    color:  rgb(184, 6, 6);
}
.WeatherForecast h2 {
    font-size: 18px;
}